html{
    background-color:#F4E2CC;
}
h1.estilo{
    color: #630C0F;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img.carta{
    float: right;
}
p.carta{
    float: left;
    font-size: 25px;
}
img.cafe{
    float: center;
}
p.cafe{
    float: left;
    font-size: 25px;
}
img.contacto{
    float: left;
}
p.contacto{
    float: left;
    font-size: 25px;
}