html{
    background-color:#F4E2CC;
}
h1.estilo{
    color: #630C0F;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img.indice{
    float: right;
}
p.indice{
    float: left;
    font-size: 25px;
}
body{
    margin: auto;
    max-width: 1000px;
}
p.rojo{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}